.table-container {
    margin: 20px;
    background-color: rgb(146, 146, 213);
  }
  
  mat-header-cell, mat-cell {
    padding: 8px 16px;
  }
  
  mat-header-row, mat-row {
    display: flex;
    align-items: center;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  mat-paginator {
    margin-top: 20px;
  }
  